body {
  margin: 0;
  color: #808291;
  background: linear-gradient(73deg, #ffd7bf, #b6ebff);
  font-family: 'Cairo', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
